*{
    margin: 0;
    padding: 0;
    }
    
    .main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(bsit.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    }

    .column ul{
        
        float: center;
        padding-left: 20px;
        }
        
    .column li{
        list-style: none;
        margin-left: 1vh;
        margin-top: 70px;
        
        }

    .column ul li img{
        border-radius: 50%;
        content: "core";
        clear: both;
        display: table;
        width: 405px;
        padding: 10px;
        padding-left: 5vh;
      }
      
    
    .navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
    }
    
    .icon{
    width: 200px;
    float: left;
    height: 70px;
    }
    
    .logo{
        margin-top: 2vh;
        float: left;
        text-align: center;
        width: 165px;
        height: 60px;
        background: #ff7200;
        border: none;
        margin-bottom: 10px;
        margin-left: 20px;
        font-size: 50px;
        border-radius: 10px;
        cursor: pointer;
        transition: .4s ease;
    }
    
    .logo a {
        text-decoration: none;
        color: #000;
    }
    
    .menu{
    width: 400px;
    float: left;
    height: 70px;
    }
    
    ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    ul li{
    list-style: none;
    margin-left: 16vh;
    margin-top: 32px;
    font-size: 2vh;
    }
    
    ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    }
    
    ul li a:hover{
    color: #ff7200;
    }
    
    .search{
        margin-top: 1vh;
    width: 330px;
    float: left;
    margin-left: 270px;
    }
    
    .srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    }
    
    .btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
    }
    .btn:hover{
    color: #000;
    }
    
    .btn:focus{
    outline: none;
    }
    
    .srch:focus{
    outline: none;
    }
    

        .jobs ul{
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        }
        
        .jobs ul li{
            padding: 5vh;
            text-align: center;
        list-style: none;
        margin-left: 6vh;
        margin-top: 32px;
        font-size: 5vh;
        }
        
        .jobs ul li a{
        text-decoration: none;
        color: #ffffff;
        font-family: Arial;
        font-weight: bold;
        transition: 0.4s ease-in-out;
        }

        .jobs ul li a:hover{
            color: #ff7200;
        }
